h1 {
  font-size: 48px;
}

.App__main {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 4fr;
  height: 100vh;
}

.App__sections {
  display: grid;
  grid-template-rows: min-content 2fr 1fr;
  height: 100vh;
  background-color: #f0f0f0;
}

.App__aside {
  border-right: 1px solid black;
}

.MemberInput__textarea {
  height: 100vh;
}

.CurrentSpeaker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MemberInput {
  height: 100vh;
}

.AppBar {
  height: 48px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.AppBar__title {
  font-weight: 500;
  font-size: 18px;
}

.PastSpeakers__list__item--present {
  font-weight: 600;
}

.PastSpeakers__list__item--skipped {
  text-decoration: line-through;
}
